@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --body: 0 0% 100%;
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 62.8% 50.6%;
        --destructive-foreground: 210 40% 98%;
        --destructive-text: 0 84.2% 38%;
        --success: 128 62.8% 29%;
        --success-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.75rem;
    }

    .dark {
        --body: 240 10% 4%;
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 217.2 91.2% 59.8%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --destructive-text: 0 62.8% 69%;
        --success: 128 62.8% 25%;
        --success-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 224.3 76.3% 48%;
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-body text-foreground;
    }
}

@layer components {
    .footer-text {
        @apply text-xs underline-offset-4 hover:underline;
    }

    .navbar-text {
        @apply text-sm font-medium underline-offset-4 hover:underline;
    }
}

/* animations */

@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.navbar-animation {
    animation: slideDownFadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loader {
    width: calc(6 * 30px);
    height: 50px;
    display: flex;
    color: var(--foreground);
    filter: drop-shadow(30px 25px 0 currentColor)
        drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
    clip-path: inset(0 100% 0 0);
    animation:
        fadeIn 0.5s ease-in-out,
        l12 2s infinite steps(7);
}
.loader:before {
    content: "";
    width: 30px;
    height: 25px;
    --c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
    background:
        var(--c) left / 70% 70%,
        var(--c) right/20% 20%,
        var(--c) top 0 right 15%/20% 20%,
        var(--c) bottom 0 right 15%/20% 20%;
}
@keyframes l12 {
    100% {
        clip-path: inset(0 -30px 0 0);
    }
}

.showTopHero {
    animation: showTopHero 1s ease-in-out forwards;
}
@keyframes showTopHero {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(0.8);
        opacity: 1;
    }
}

.topHeroBack {
    animation: moveTopHeroBack 0.5s ease-in-out forwards;
}
@keyframes moveTopHeroBack {
    0% {
        top: 0;
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        top: 25%;
        transform: scale(0.9);
        opacity: 0;
    }
}

.showBottomHero {
    animation: fadeIn 3s ease-in-out forwards alternate;
}
.hideBottomHero {
    animation: fadeOut 1s ease-in-out forwards alternate;
}

.test {
    background: rgb(2, 0, 36);
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 0.25) 0%,
        rgba(0, 129, 255, 0.5) 70%,
        rgba(9, 9, 121, 0.5018382352941176) 100%
    );
}
